 /* 
 *setup of the base page parameters 
*/
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 200px;
    margin-bottom: 50px;
    padding: 50px;
}

header {
    margin: auto;
    width: 50%;
    justify-content: center;
}

footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-weight: 600;
    font-size: 17px;
}

 /* 
 *setup of the images for welcoming the player 
*/

header img {
    width: 100%;
    padding-top: 100px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:end;
    margin-top: 50px;
    background-color: aqua;
}

#newgamebtn, #vsicon, .resulttext {
    margin-left: 100px;
    margin-right: 100px;
    background-color: black;
}

#newgamebtn:hover {
    opacity: 50%;
}

 /* 
 *setup of player choice page elements 
 */
.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
}

.choiceicons {
    display: flex;
    justify-content: space-evenly;
    background-color: darkblue;
}

.choicebtn:hover {
    opacity: 50%;
}

.iconandtext {
    align-self: flex-start;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: darkorange;
}

.iconmiddle {
    align-self: center;
}

.computer {
    background-color: blueviolet;
}
 /* 
 *setup end game elements
*/

.character {
    position: relative;
    display: flex;
}

.KOplayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

 /* 
 *setup of hidden class to hide elements 
*/

.hide {
    display: none;
}
